<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="password-setting">
        <div class="modal fade" id="passwordSetting" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa-solid fa-key color-bs4-info me-2"></i><span class="fs-6 modal-title text-secondary">패스워드 변경</span>
                        <button type="button" class="btn-close" id="btnClosePw" data-bs-dismiss="modal" aria-label="Close" onclick="clearPwForm()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-4">
                            <span class="input-group-text input-group-text-custom">Old</span>
                            <input type="password" class="form-control text-center pw-input" id="oldPw" placeholder="기존 패스워드" onblur="checkOld(this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="" data-bs-trigger="manual">
                            <span class="input-group-text pw-chk-i"></span>
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text input-group-text-custom">New</span>
                            <input type="password" class="form-control text-center pw-input" id="newPw" placeholder="신규 패스워드" onblur="checkNew(this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="" data-bs-trigger="manual">
                            <span class="input-group-text pw-chk-i"></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text input-group-text-custom">Check</span>
                            <input type="password" class="form-control text-center pw-input" placeholder="패스워드 확인" onblur="checkPw(this)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="" data-bs-trigger="manual">
                            <span class="input-group-text pw-chk-i"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success btn-sm btn-icon" onclick="savePw()"><i class="fa-solid fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>