<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="schedule-details">
        <div class="modal fade" id="scheduleDetails" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa-solid fa-list color-bs4-info me-2"></i><span class="fs-6 modal-title text-secondary">임직원 일정 현황</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        작업 예정..
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>