/* ----- ----- ----- ----- ----- scroll-bar setting ----- ----- ----- ----- ----- */
/* Firefox */
.scroll-area {
    scrollbar-width: none;
    overflow-y: auto;
}

/* Chrome, Safari, Opera*/
::-webkit-scrollbar {
    display: none;
    overflow-y: auto;
}
/* ----- ----- ----- ----- ----- scroll-bar setting ----- ----- ----- ----- ----- */

.fc-col-header-cell.fc-day {
    background-color: #dadfe1;
}

.fc-col-header-cell.fc-day.fc-day-sun {
    background-color: #f1a9a0;
}

.fc-col-header-cell.fc-day.fc-day-sat {
    background-color: #f1a9a0;
}

.fc-day-today > div {
    background-color: #cdc7be;
}